/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*-------ШРИФТ----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=PT+Serif&display=swap");
@font-face {
	font-family: "Chocolatey";
	src: url("/fonts/Chocolatey.ttf") format("truetype");
}
/*----------------------------------------------------------------*/
body {
	font-family: "PT Serif";
	font-size: 20px;
	color: #161616;
}
/*----------------------------------------------------------------*/
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/*-------ОБЩИЕ---------------------------------------------------*/
.title-block {
	font-family: Montserrat;
	font-size: 50px;
	line-height: calc(80 / 50 * 100%);
	font-weight: 700;
	letter-spacing: -0.02em;
}
/*-------ТЕХНИЧЕСКИЕ----------------------------------------------------*/
._container {
	padding: 0 15px;
	box-sizing: content-box;
	max-width: 992px;
	margin: 0 auto;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
/*---------------------------HEADER----------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	align-items: center;
	min-height: 140px;
}
.header__logo {
}
.logo {
	font-family: Chocolatey;
	font-size: 88.4px;
	line-height: 32px;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #d03958;
}
.header__menu {
	margin: 0 0 0 340px;
}
@media (max-width: 992px) {
	.header__menu {
		margin: 0 0 0 200px;
	}
}
@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 100px;
	}
}
.menu {
}
.menu__list {
	display: flex;
	flex-wrap: wrap;
}
.menu__item {
	padding: 10px 15px;
	border-radius: 7px;
}
.menu__item:hover {
	background: #d03958;
	color: #ffffff;
}
.menu__link {
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	color: inherit;
	line-height: calc(22 / 18 * 100%);
	letter-spacing: -0.02em;
}
/*---------------------------------main-block------------------*/

.main-block {
	position: relative;
	margin-bottom: 40px;
}
.main-block__container {
	display: flex;
	position: relative;
	z-index: 2;
}
.main-block__body {
	width: 500px;
	padding: 265px 0 165px 0;
}
.main-block__title {
	font-family: Montserrat;
	font-size: 90px;
	line-height: calc(80 / 90 * 100%);
	font-weight: 700;
	letter-spacing: -0.02em;
	margin: 0 0 50px 0;
}
.main-block__title--text-color_red {
	color: #d03958;
}
.main-block__text {
	line-height: calc(28 / 20 * 100%);
	letter-spacing: -0.02em;
}
.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/*----------------------------------------FORM--------------------*/
.main-block__form {
	position: absolute;
	right: 104px;
	bottom: -75px;
	max-width: 400px;
	max-height: 520px;
	background: #d03958;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-radius: 7px;
}
.main-block__form input {
	padding: 10px;
	line-height: calc(25 / 20 * 100%);
	letter-spacing: -0.02em;
	color: #b5b5b5;
	border-radius: 7px;
}
.main-block__form input {
	margin-bottom: 10px;
}
.form__title {
	color: #ffffff;
	align-self: center;
	margin-bottom: 37px;
}
.form__name {
}
.form__email {
}
.form__phone {
}
.form__country {
}
.form__checkbox-container {
	margin-bottom: 20px;
}
.form__checkbox-container label {
	line-height: calc(25 / 20 * 100%);
	letter-spacing: -0.02em;
	color: #ffffff;
}
.form__checkbox {
}

.form__button {
	height: 45px;
	border-radius: 7px;
	background-color: #161616;
	font-family: Montserrat;
	font-size: 22px;
	line-height: 1.2;
	letter-spacing: -0.02em;
	color: #ffffff;
}

/*------------------------------------------------SERVICES---------------------------*/
.services {
}
.services__container {
}
.services__title {
	margin-bottom: 100px;
}
.services__title--text-color_red {
	color: #d03958;
}
.services__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.services__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex: 0 0 168px;
}
.services__img {
	margin-bottom: 46px;
}

@media (max-width: 539px) {
	.services__item {
		flex: 1 0 168px;
	}
	.services__img {
		margin-bottom: 10px;
	}
	.services__title {
		margin-bottom: 20px;
	}
	.services__list {
		margin-bottom: 35px;
	}
}
@media (max-width: 372px) {
	.services__list {
		flex-direction: column;
	}
}

.services__name {
	text-align: center;
	font-size: 20px;
	line-height: calc(28 / 20 * 100%);
	letter-spacing: -0.02em;
}
.services__footer {
	background-color: #d03958;
	height: 123px;
}
.services-footer__container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 100%;
}
.services-footer__text {
	max-width: 601px;
	font-size: 20px;
	line-height: calc(28 / 20 * 100%);
	letter-spacing: -0.02em;
	color: #ffffff;
}
.services-footer__button {
	width: 269px;
	height: 64px;
	background-color: #e3d5b8;
	font-family: Montserrat;
	font-size: 22px;
	line-height: calc(28 / 20 * 100%);
	letter-spacing: -0.02em;
	border-radius: 7px;
}
/*-------PRICING---------------------------------------------------*/
.pricing {
	min-height: 537px;
	padding-top: 65px;
	background-color: #e3d5b8;
	text-align: center;
}
.pricing__container {
}
.pricing__title {
	margin-bottom: 57px;
}
.pricing-list {
	display: flex;
	justify-content: space-between;
}
.pricing-list__item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 318px;
	height: 100%;
	background-color: #ffffff;
	border-radius: 7px 7px 0px 0px;
	padding: 35px 0 10px 0;
}

.item--popular::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 40px solid transparent;
	border-left: 40px solid rgb(148, 148, 148);
	border-top: 40px solid rgb(148, 148, 148);
}
.item__popular {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 1;
	transform: rotate(-45deg);
	color: black;
}

.item__name {
	padding: 35px 0;
}
.item__price {
	font-family: Montserrat;
	font-size: 60px;
	line-height: calc(80 / 60 * 100%);
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #d03958;
	margin-bottom: 23px;
}
.item__list-options {
	line-height: calc(28 / 20 * 100%);
	letter-spacing: -0.02em;
	text-align: center;
}
.item__options {
}
.item__button {
	width: 205px;
	min-height: 49px;
	background-color: #e3d5b8;
	margin: auto;
}

/*-----------------------------------------REVIEW---------------------------------------*/
.review {
	margin: 150px 0 0 0;
}
.review__container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
}
.review__testimonial {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 470px;
}
.review__title {
	margin-bottom: 30px;
}
.review__list {
}
.review-list {
}

.review-list__item {
	display: flex;
	padding: 20px;
	border-radius: 7px;
}
.review-list__item:not(:last-child) {
	margin-bottom: 15px;
}

.review-list__item:last-child {
	background-color: #e3d5b8;
}
.review-list__container {
}
.review-list__text {
	line-height: calc(28 / 20 * 100%);
	letter-spacing: -0.02em;
	margin-bottom: 15px;
}
.review-list__author {
	font-family: Montserrat;
	line-height: calc(28 / 20 * 100%);
	letter-spacing: -0.02em;
	color: #d03958;
}
.review-list__author-avatar {
	margin-right: -18%;
	flex-shrink: 1;
}
.review__gallery {
	width: 380px;
}
.gallery {
	text-align: center;
}
.gallery__title {
	color: #d03958;
	margin-bottom: 50px;
}
.gallery__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 35px;
}
.gallery__item {
}
.gallery__image {
}
.gallery__links {
	text-align: center;
}
.gallery__link {
	font-family: Montserrat;
	line-height: calc(28 / 20 * 100%);
	text-decoration: underline;
	letter-spacing: -0.02em;
	color: #d03958;
}
.footer {
	background-color: #161616;
	height: 190px;
}
.footer__container {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
}

.footer__content {
	line-height: calc(22 / 20 * 100%);
	letter-spacing: -0.02em;
	color: #ffffff;
}
.footer__content--text-color_red {
	color: #d03958;
}
.footer__logo {
}
